<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--使用工厂方法和FactoryBean来配置Bean-->

<!--use-default-filters="false"-->
    <context:component-scan base-package="com.bdqn" resource-pattern="util/*.class" >
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
    </context:component-scan>
    
    <bean class="com.bdqn.util.AnimalFactory" id="animalFactory"></bean>
<bean factory-bean="animalFactory" factory-method="getAnimal" id="animal">
<constructor-arg value="cat"></constructor-arg>
</bean>
    <bean class="com.bdqn.util.DogFactory" id="animal2" p:type="dog"></bean>
</beans>